@model List<Evenement>
@{
    ViewBag.Title = "My crawls";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Omschrijving</th>
            <th>Starttijd</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var evenement in Model)
            {
                <tr>
                    <td><a href="/Evenement/Bewerk/@evenement.ID">@evenement.Naam</a></td>
                    <td>@evenement.Omschrijving</td>
                    <td>@evenement.StartTijd</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">
                    Er zijn nog geen crawls waar u aan deel kunt nemen
                </td>
            </tr>
        }
    </tbody>
</table>