@model BijlagePart

@{
    var contentPartTaal = (ContentPartTaal)ViewData["contentPartTaal"]; 
    var contentPagina = (ContentPagina)ViewData["ContentPagina"];
    var contentPart = new ContentPart(Model, contentPagina);
    var mode = (Mode)ViewData["Mode"];       
}

@switch (mode){
    case Mode.Bewerk:
        @Html.BijlagePartBewerkPartial(Model, contentPartTaal)
        break;
    case Mode.Web:
        if (Rechten.IsInRol(Rollen.Moderator)) { 
            <h2>@Html.ContentPartBeheerMenu(contentPart)</h2>
        }
        @Html.BijlagePartBekijkPartial(Model, true, 180)
        break;
}